.App {
   height: 100vh;
   background: #ff7a7a;
   background-image: url('../public/assets/mobile/bg-image-nighttime.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   overflow: hidden;
}

.img-filter {
   background-color: hsla(0, 0%, 0%, 0.45);
   /* border: 4px solid rgb(0, 38, 255); */
}

.container {
   max-width: 415px;
   height: 100vh;
   padding: 2rem 1.5rem;


   margin: 0 auto;
}

.container.showMore {
   transform: translateY(-17rem);
}

.content-container {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.left-wrap {
   display: flex;
   flex-direction: column;
   gap: 14rem;
}


.more-container {
   /* height: 17rem; */
   background-color: hsla(0, 0%, 0%, 0.7);
   backdrop-filter: blur(10px);
   /* margin: -2rem -1.5rem; */
   padding: 2rem;
}